.cart-section{background: #fff;}
.cart-section .container{display: flex;justify-content: space-between;  height: auto;}

.cart-section .container .cart-lists-form{width: 55%;}
.cart-section .container .cart-lists-form .cart-select{display: flex; justify-content: space-between; padding: 1rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.cart-section .container .cart-lists-form .cart-select .all-select label{margin-left: 1rem; font-weight: bold;}
.cart-section .container .cart-lists-form .cart-select > p {font-weight: bold;}


.cart-section .container .cart-lists-form .main-cart-wrapper .main-cart-list{display: flex; column-gap: 1rem; padding: 1rem; border-bottom: 1px solid #ddd;}
.cart-section .container .cart-lists-form .main-cart-wrapper .main-cart-list .main-cart-info{width: 80%; padding: 1rem; display: flex; flex-direction: column; justify-content: center; row-gap: .5rem;}
.cart-section .container .cart-lists-form .main-cart-wrapper .main-cart-list .main-cart-info .main-cart-qnts{display: flex; column-gap: .5rem; padding: .25rem .5rem; width: fit-content; border: 1px solid #222;}
.cart-section .container .cart-lists-form .main-cart-wrapper .main-cart-list .main-cart-img{width: 12%;}
.cart-section .container .cart-lists-form .main-cart-wrapper .main-cart-list .main-cart-img img{width: 100%;}

.cart-section .container .cart-pay-info{width: 35%; border-top: 1px solid #ddd; height: fit-content; position: sticky; top: 5rem;}

.cart-section .container .cart-pay-info .price-info{padding: 1rem 0; width: 100%; display: flex; justify-content: space-between;}
.cart-section .container .cart-pay-info .main-cart-sum p,
.cart-section .container .cart-pay-info .delivery-charge p{color: #999;}
.cart-section .container .cart-pay-info .final-price{font-size: 1.25rem; font-weight: bold;}

.cart-section .container .cart-pay-info .order-btns{column-gap: .5rem; margin-top: 1.5rem; width: 100%; display: flex;}
.cart-section .container .cart-pay-info .order-btns .select-order-btn{width: 50%; background: #fff; padding: 1rem 0; border-radius: .25rem; border: 1px solid black; font-size: 1rem;}
.cart-section .container .cart-pay-info .order-btns .all-order-btn{width: 50%; border: none; background: black; color: #fff; padding: 1rem 0; border-radius: .25rem; font-size: 1rem;}

