@import url(//db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

body{overflow-x: hidden;}
/* #header{display: none;} */
#detail-header{width: 100%; padding: 0.5rem 0; background: #fff; position: fixed; z-index: 19; transition: all .5s ease; opacity: 0;}
#detail-header .container{display: flex; justify-content: space-between; align-items: center;}
#detail-header .container .header-info-wrapper{display: flex; column-gap: 1rem; align-items: baseline;}
#detail-header .container .header-info-wrapper p{font-size: 1.25rem; text-transform: uppercase;}
#detail-header .container .header-cart-wrapper{display: flex; align-items: center; column-gap: 3rem;}
#detail-header .container .header-cart-wrapper .header-qnts{display: flex; align-items: center;}
#detail-header .container .header-cart-wrapper .header-qnts p{font-size: 1.75rem; margin: 0 .5rem;}
#detail-header .container .header-cart-wrapper .header-qnts i{font-size: 1.75rem; cursor: pointer;}
#detail-header .container .header-cart-wrapper .cart-btn{display: flex; column-gap: 1rem; border: none; background: black; color: #fff; padding: 0.75rem 3.5rem; border-radius: .25rem; cursor: pointer;}
#detail-header .container .header-cart-wrapper .cart-btn p{font-size: 1.25rem; align-items: baseline;}
#detail-header .container .header-cart-wrapper .cart-btn p:nth-child(1){font-weight: bold;}

.wrapper{overflow: unset;}
.detail-section{background: #fff; padding-top: 7rem;}
.detail-section .container{display: flex; margin-bottom: 8rem;}
.detail-section .container .detail-left{width: 70%;}
.detail-section .container .detail-left .detail-label{display: flex; column-gap: 1.5rem;}
.detail-section .container .detail-left .detail-label p{font-size: 1.75rem; text-transform: uppercase;}
.detail-section .container .detail-left .detail-title{font-size: 6rem; font-weight: normal; margin-top: 1rem;}
.detail-section .container .detail-left .detail-price{font-size: 1.75rem; margin-top: 1rem;}
.detail-section .container .detail-left .qnts{display: flex; column-gap: .75rem; _align-items: center; margin-top: 1rem;}
.detail-section .container .detail-left .qnts i{font-size: 1.75rem;}
.detail-section .container .detail-left .qnts p{font-size: 1.75rem;}

.detail-section .container .detail-right{width: 30%;}
.detail-section .container .detail-right button{display: flex; width: 100%; padding: 1rem; border: none; border-radius: .25rem; background: black; justify-content: center; column-gap: 1rem;}
.detail-section .container .detail-right button p{color: #fff; font-size: 1.25rem;}
.detail-section .container .detail-right button p:nth-child(1){font-weight: bold;}
.detail-section .container .detail-right .detail-desc{width: 100%; margin-top:  5rem;}
.detail-section .container .detail-right .detail-desc .desc-title{font-size: 1rem; color: #999; margin-bottom: .5rem;}
.detail-section .container .detail-right .detail-desc p:nth-child(2){font-size: 1rem; color: #222;}

.detail-section .img-container img{width: 100%;}

.detail-section .res-desc{display: none;}
.detail-section .res-desc .desc-title{font-size: 1rem; color: #999; margin-bottom: .5rem;}
.detail-section .res-desc p{font-size: 1rem; color: #222;}
