@import url(//db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

html {scroll-behavior: smooth;}
body {font-family: "Beausite Classic Regular", "Noto Sans KR";}
* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul {list-style: none;}
a{text-decoration: none;}

.wrapper{width:100%; height:auto; overflow:unset;}
.container{width: 100%; padding: 0 5rem; max-width: 2000px; margin: auto;}
section{padding: 5rem 0; background: #fff;}

.magazine-section > .container{display: flex;}

.magazine-section .container .mag-left{width: 54%; height: 85vh; display: flex; flex-direction: column; justify-content: space-between; position: sticky; top: 7rem;}
.magazine-section .container .mag-left .mag-category input{font-size: 2.5rem; cursor: pointer; width: fit-content; transition: all .4s ease; display: flex; flex-direction: column; border: none; background: none; padding: .25rem 0}
.magazine-section .container .mag-left .mag-count{display: flex; column-gap: 2rem;}
.magazine-section .container .mag-left .mag-count .sort{display: flex; align-items: center;}


.magazine-section .container .mag-right{width: 46%; height: auto;}
.magazine-section .container .mag-products .mag-product-item{display: flex; flex-wrap: wrap; width: 100%; height: auto; margin-bottom: 5rem;}
.magazine-section .container .mag-products .mag-product-item .prd-img-wrapper {width: 50%; padding: .5rem;}
.magazine-section .container .mag-products .mag-product-item img{width: 100%;}
.magazine-section .container .mag-products .mag-product-item .mag-info-wrapper{width: 100%; height: auto; padding: 0 .5rem; display: flex; justify-content: space-between;}
.magazine-section .container .mag-products .mag-info-wrapper .mag-info{display: flex; column-gap: 1rem; align-items: baseline;}
.magazine-section .container .mag-products .mag-info-wrapper .mag-info > div {color: #222; text-transform: uppercase;}
.magazine-section .container .mag-products .mag-info-wrapper .mag-info > div a{color: #222;}
.magazine-section .container .mag-products .mag-info-wrapper .mag-cart-btn{border: none; border-bottom: 1px solid #222; background: #fff; color: #222;}

.magazine-section .container .mag-right .product-page{display: flex; justify-content: center; column-gap: 1.5rem;}
.magazine-section .container .mag-right .product-page input{font-size: 1.3rem; background: none; border: none; cursor: pointer;}