@media screen and (max-width:1750px){
    html{font-size: 15px;}
    .cart-modal{width: 23%;}
}

@media screen and (max-width:1440px){
    html{font-size: 14px;}
    
    .cart-modal{width: 27%;}
    /* Shop Section Style*/
    .shop-section .container .shop-contents{width: 75%;}

    /* Video Section Style*/
    .video-section{height: 65vh;}

    /* Book Section Style */
    .books-section .books-container .books-contents{width: 75%;}

    /* New Page Style */
    .new-section .container .new-left h2{font-size: 5.5rem;}
    .new-section .container .new-left .new-title{font-size: 5.5rem;}
}

@media screen and (max-width:1199px) {
    .container{padding: 0 3rem;}
    /* Header Section Style */
    #header{padding: 1.25rem 0;}
    #header .left .left-list {display: none;}
    #header .right-list{column-gap: 1rem;}
    #header .right-list li:not(.cart, .menu-btn){display: none;}
    #header .right-list .menu-btn{display: block;}

    .cart-modal{width: 30%;}
    
    /* Main Section Style*/
    .main-section .page-left{left: 3rem; bottom: 2.5rem;}
    .main-section .page-right{right: 3rem; bottom: 2.5rem;}

    /* Shop Section Style*/
    .shop-section .container .shop-contents{width: 90%;}
    .shop-section .container .shop-btn {align-items: center;}

    /* Video Section Style*/
    .video-section{height: 50vh;}

    /* Book Section Style */
    .books-section .books-container .books-contents{width: 90%;}

    /* Subscribe Section Style*/
    .subscribe-section .subscribe-content-box{width: 65%; margin-top: 12rem;}
    .subscribe-section .subscribe-content-box .content-item{padding: 1.5rem;}

    /* Footer Section Style*/
    #footer .footer-container .footer-logo{width: 20%;}
    #footer .footer-container .footer-txt{width: 80%;}

    #footer .footer-container img{width: 6rem;}

    /* New Page Style */
    .new-section .container .new-left h3{font-size: 1.5rem;}
    .new-section .container .new-left h2{font-size: 4rem;}
    .new-section .container .new-left .new-title{font-size: 4rem;}
    .new-section .container .new-left .desc{padding-right: 4rem;}

    .new-section .container .new-bottom-nav{margin-top: 15rem;}
    .new-section .container .new-bottom-nav li a {font-size: 4rem;}
    .new-section .container .new-bottom-nav li a::before{display: none;}

    /* Detail Page Style */
    .detail-section .container .detail-left{width: 55%;}
    .detail-section .container .detail-left .detail-title{font-size: 4rem;}

    .detail-section .container .detail-right{width: 45%;}

}

@media screen and (max-width: 991px){
    section{padding: 2rem 0;}
    .container{padding: 0 1.5rem;}

    .cart-modal{width: 35%;}

    /* Main Section Style*/
    .main-section .page-left{left: 1.5rem;}
    .main-section .page-right{right: 1.5rem;}

    /* Shop Section Style */
    .shop-section .shop-preview-box{flex-wrap: wrap; row-gap: 3rem;}
    .shop-section .shop-preview-box .shop-pre-item{width: 36%;}

    /* Video Section Style */
    .video-section{height: 40vh;}

    /* Books Section Style*/
    .books-section .books-preview-box{flex-wrap: wrap; row-gap: 3rem;}
    .books-section .books-preview-box .books-pre-item{width: 36%;}
    
    /* Subscribe Section Style*/
    .subscribe-section .subscribe-container{justify-content: flex-start;}
    .subscribe-section .subscribe-content-box{width: 70%; margin: 0 0 8rem 1rem;}

    /* Footer Section Style*/
    #footer{position: relative;}
    #footer .footer-container{margin: 3rem 0 1.5rem 0;}
    #footer .footer-container .footer-logo{width: fit-content; position: absolute; right: 1.5rem; bottom: 1.5rem;}
    #footer .footer-container img{width: 3rem;}
    #footer .footer-container .footer-txt{width: 100%;}
    #footer .footer-container .footer-txt > div a{font-size: 1.5rem;}
    #footer .footer-container .byline .company{display: flex; column-gap: 0.5rem;}
    #footer .footer-container .byline .company-btn{display: block; width: 1.2rem;}
    #footer .footer-container .byline > *:not(.company){display: none;}

    #footer .footer-container.active{border: 1px solid rgba(34, 34, 34, .1); padding: 1.5rem; margin-bottom: 0;} 
    #footer .footer-container.active > *:not(.byline){display: none;}
    #footer .footer-container.active .company img{transform: rotate(180deg);}
    #footer .footer-container.active .toggle-byline{display: flex;}
    #footer .footer-container.active .byline{margin-top: 2rem;}

    /* Detail Page Style */
    #detail-header .container .header-cart-wrapper .header-qnts i{font-size: 1.5rem;}
    #detail-header .container .header-cart-wrapper .header-qnts p{font-size: 1.5rem;}

    .detail-section .container{flex-wrap: wrap;}
    .detail-section .container .detail-left{width: 100%;}
    .detail-section .container .detail-left .detail-price{font-size: 1.5rem;}   
    .detail-section .container .detail-left .qnts i{font-size: 1.5rem;}
    .detail-section .container .detail-left .qnts p{font-size: 1.5rem;}
    
    .detail-section .container .detail-right{width: 100%;}
    .detail-section .container .detail-right button{margin-top: 1.5rem;}
    .detail-section .container .detail-right .detail-desc{display: none;}

    .detail-section .res-desc{display: block;}

}
@media screen and (max-width: 850px){
    /* Detail page Style */
    #detail-header .container .header-info-wrapper{display: none;}
    #detail-header .container .header-cart-wrapper{width: 100%;}
    #detail-header .container .header-cart-wrapper .header-qnts p{font-size: 1.25rem;}
    #detail-header .container .header-cart-wrapper form{width: 100%;}
    #detail-header .container .header-cart-wrapper .cart-btn{width: 100%; justify-content: center; padding: .5rem 0; align-items: baseline;}
    #detail-header .container .header-cart-wrapper .cart-btn p{font-size: 16px;}
}

@media screen and (max-width: 767px) {
    /* Header Section Style */
    #header .left .logo{height: 1.75rem;}
    #header .right-list{column-gap: 1.25rem;}
    

    .cart-modal{width: 100%; transition: all .5s ease;}
    .cart-modal .cart-top .cart-count .cart-modal-back{display: flex; align-items: center; cursor: pointer;}

    /* Mobile Menu Style */
    .header-wrapper .mobile-menu .container .menu-top > *{column-gap: 1.25rem;}
    .header-wrapper .mobile-menu .container .menu-list li a{font-size: 2.5rem;}
    

    /* Main Section Style */
    .main-section .main-wrapper.active{justify-content: flex-end;}
    .main-section .main-txt{padding-bottom: 2.5rem; row-gap: .5rem; position: absolute;}
    .main-section .main-txt h1{font-size: 3rem;}
    .main-section .main-txt h3{display: none;}
    .main-section .page-wrapper{position:absolute;}
    .main-section .page{bottom:calc(50% - 1.5rem); font-size: 3rem;}

    /* Shop Section Style */
    .shop-section{padding: 0;}
    .shop-section .shop-container{padding: 0;}
    .shop-section .shop-title{display: none;}
    .shop-section .container .shop-contents{width: 100%; display: block; padding: 2rem 1.5rem 5rem;}
    .shop-section .shop-contents:nth-child(2){background: rgb(249, 231, 159);}
    .shop-section .shop-contents:nth-child(3){background: rgb(239, 219, 228);}
    .shop-section .shop-contents:nth-child(4){background: rgb(217, 228, 241);}
    .shop-section .container .shop-contents > p{display: block;  margin-bottom: 0.5rem;}
    .shop-section .container .shop-contents > a { display: flex;}

    .shop-section .shop-preview-box{width: 100%; display: flex; margin:2rem 0 0 0;  row-gap: 5rem;}
    .shop-section .shop-preview-box .shop-pre-item:last-child{display: none;}
    .shop-section .shop-preview-box .shop-pre-item{width: 100%;}
    .shop-section .container .shop-btn{display: none;}

    /* Video Section Style */
    .video-section{height: 100vh;}
    .video-section .video-container{position: absolute; bottom: 2.5rem;}
    .video-section .video-container .video-txt-box h1{font-size: 3rem;}
    .video-section .video-container .video-txt-box h3{display: none;}
    .video-section .video-icon{width: 1.75rem;}

    /* Books Section */
    .books-section{padding: 0;}
    .books-section .books-container{padding: 0;}
    .books-section .books-title-box{display: none;}
    .books-section .books-container .books-contents{width: 100%; display: block;     padding: 2rem 1.5rem 5rem;}
    .books-section .books-container .books-contents:nth-child(2){background: rgb(214, 214, 201);}
    .books-section .books-container .books-contents:nth-child(3){background: rgb(202, 219, 231);}
    .books-section .books-container .books-contents > p{display: block; margin-bottom: .5rem;}
    .books-section .books-container .books-contents > a {display: flex;}

    .books-section .books-preview-box{display: flex; margin: 2rem 0 0 0; row-gap: 5rem;}
    .books-section .books-preview-box .books-pre-item{width: 100%;}
    .books-section .books-preview-box .books-pre-item:nth-child(3){display: none;}
    .books-section .books-btn{display: none;}

    /* Subscribe Section */
    .subscribe-section .date-box{font-size: 2.5rem; letter-spacing: 0; line-height: 1;}
    .subscribe-section .subscribe-content-box{width: 100%; height: auto; flex-direction: column; margin: 3rem 0 4rem 0;}
    .subscribe-section .subscribe-content-box .subs-content{position: relative; width: 100%;}
    .subscribe-section .subscribe-content-box .content-item{pointer-events: none; padding: 1.5rem 0;}
    .subscribe-section .subscribe-content-box .content-item > span{font-size: 16px;}
    .subscribe-section .subscribe-content-box .content-item .newsletter{font-size: 1.75rem;}
    .subscribe-section .subscribe-content-box .content-item p{font-size: 16px;}
    .subscribe-section .subscribe-content-box .content-item h3 br{display: none;}

    /* Footer Section */
    #footer .footer-container .footer-logo{bottom: 0;}
    #footer .footer-container .footer-txt{flex-direction: column; row-gap: 2rem;}
    #footer .footer-container .footer-txt > div{line-height: 1.2; width: 100%;}
    #footer .footer-container .footer-txt > div p{font-size: 1.2rem;}
    #footer .footer-container .footer-txt > div a{font-size: 1.7rem;}
    #footer .footer-container .byline{margin-top: 7rem;}

    /* New Page Style */
    .new-section .container{padding: 0;}
    .new-section .inner-container{padding: 0 1.5rem;}
    
    .new-section .container .new-contents > .inner-container {width: 100%;}
    .new-section .container .new-contents{flex-direction: column;}
    .new-section .container .new-left{width: 100%; position: relative;}
    .new-section .container .new-left h3{font-size: 1.75rem; margin-bottom: .5rem;}
    .new-section .container .new-left h2{font-size: 3rem;}
    .new-section .container .new-left .new-title{font-size: 3rem;}
    .new-section .container .new-left .new-btn{width: 100%; text-align: center; margin: 2.5rem 0 2rem;}
    .new-section .container .new-right{width: 100%; row-gap: 0;}

    .new-section .container .new-bottom-nav li a{font-size: 2.5rem; line-height: 1.3;}

    /* Detail page Style */
    .detail-section .container .detail-left .detail-label{flex-direction: column;}
    .detail-section .container .detail-left .detail-title{font-size: 3rem; margin-top: .5rem;}

    .detail-section .res-desc .desc-title{font-size: 16px;}
    .detail-section .res-desc p{font-size: 16px;}

    /* Sign-in Page Style */
    .sign-in{height: auto;}
    .sign-top-bar{display: flex;}
    .sign-in .container{height: auto; margin: 2rem 0;}
    .sign-in form{width: 100%; row-gap: 1.25rem;}
    .send-btn{padding: 1rem 0;}
    .sign-up-btn{width: 100%; padding: 1rem 0;}

    /* Sign-up Page Style */
    .sign-up{height: auto;}
    .sign-up > .sign-top-bar{margin-bottom: 5rem;}
    .sign-up .container{height: auto; margin: 2rem 0;}
    .sign-up .container form{width: 100%; row-gap: 1.25rem;}




}

@media screen and (max-width: 349px){
    #detail-header .container .header-cart-wrapper{flex-direction: column; row-gap: 0.5rem;}
    #detail-header .container .header-cart-wrapper .header-qnts{column-gap: .25rem;}
}