@import url(//db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

html {scroll-behavior: smooth;}
body {font-family: "Beausite Classic Regular", "Noto Sans KR";}
* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul {list-style: none;}
a{text-decoration: none;}

.wrapper{width:100%; height:auto; overflow:hidden;}
.container{width: 100%; padding: 0 5rem; }
section{padding: 5rem 0;}

/* Header style */
#header{width: 100%; padding: 1.25rem 0; backdrop-filter: blur(50px) brightness(95%); position:fixed; z-index:20;}
#header > .container {width: 100%; height: auto; display: flex; justify-content: space-between; font-size: 1.25rem;}
#header .left {display: flex; align-items: center;}
#header .left .logo {display: flex; height: 1.5rem; _width: 1.25rem; margin-right: 2.5rem;}
#header .left .logo img {height: 100%;}
#header .left .left-list {display: flex; column-gap: 1.25rem;}
#header .left .left-list a {color: #fff;}

#header .right-list {display: flex; column-gap: 1.5rem; align-items: center; color: #fff; cursor: pointer;}
#header .right-list a {color: #fff;}
#header .right-list .cart {display: flex;}
#header .right-list .language {display: flex; column-gap: 1px;}
#header .right-list .language img {width: 1.25rem; object-fit: scale-down;}
#header .right-list .menu-btn{display: none;}

/* Mobile Menu Style */
.wrapper.active > *:not(#header){display: none;}
.wrapper.active #header{background: #222; height: 100vh; animation: menu .7s 1;}
@keyframes menu {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
.wrapper.active #header .container{flex-direction: column-reverse; row-gap: 3rem;}
.wrapper.active #header .left .left-list{display: flex; flex-direction: column; font-size: 2rem;}
.wrapper.active #header .left .logo{display: none;}
.wrapper.active #header .right-list{width: 100%; justify-content: space-between;}
.wrapper.active #header .right-list > li {display: flex;}
.wrapper.active #header .right-list .cart{margin-left: auto;}
.wrapper.active #header .right-list .language{position: fixed; bottom: 2rem; font-size: 1.5rem; opacity: 0.3;}
#header .right-list .language img{width: 1.5rem;}

/* Main Section Style*/
.main-section{width: 100%; height: auto; position: relative; display: flex; flex-direction: column; justify-content: center; padding: 0; }

.main-section .main-wrapper{width: 100%; height: 100vh; display: none; flex-direction: column; justify-content: center; position: relative;}
.main-section .main-wrapper.active{display: flex; animation: main-slide .5s 1;}
@keyframes main-slide {
    from {opacity: 0.7;}
    to {opacity: 1;}
}
/* https://ktsmemo.cafe24.com/s/SwiperJS/357 */

.main-section .main-wrapper img{width: 100%; height: 100%; object-fit: cover; position: absolute;}

.main-section .page-btn{width:100%; height: 98vh; position: absolute; display: flex; column-gap: .5rem; top: 0; left: 0;}
.main-section .page-btn>div{width: 50%; cursor: pointer; background: transparent; opacity: .8; z-index: 15;}

.main-section .main-txt{color:#fff; display: flex; flex-direction: column; row-gap: 1.5rem; z-index: 10;}
.main-section .main-txt .top-txt{display: flex; column-gap: 1rem; font-size: 1rem;}
.main-section .main-txt h1{font-size: 4rem; font-weight: normal;}
.main-section .main-txt h3{font-size: 1rem; font-weight: normal;}
.main-section .main-txt .main-btn {width: fit-content; border-bottom: 1px solid #fff; color: #fff; opacity: 0.6; padding-bottom: .5rem; font-size: 1rem; z-index: 17;}
/* .main-section .page-box{display: flex; justify-content: space-between; font-size: 5.5rem; padding: 0 5rem; color: #fff; position: relative; top: 15rem;} */
.main-section .page{position: absolute; font-size: 5.5rem; font-weight: bold; color: rgb(255, 255, 255);}
.main-section .page-left{left: 5rem; bottom:3.5rem;}
.main-section .page-right{right: 5rem; bottom: 3.5rem;}

.main-section .scroll-back{position: absolute; bottom: 0; width: 100%; height: 5px; background: rgb(255, 255, 255, 0.5); display: flex;}
.main-section .scroll{width: 33.33%; height: 100%; background: #fff; position: absolute; transition: all .4s;} 

/* Shop Section Style */
.shop-section{width: 100%; height: auto; background: rgb(152, 192, 196); color: #222; position: relative;}
.shop-section .container > p{opacity: 0.3; font-size: 1.75rem; margin-bottom: 3rem;}
.shop-section .container .shop-btn{display: flex; column-gap: 1.5rem;  font-size: 6rem; color: #fff; opacity: 0.5; position: absolute; bottom: 7.5rem; right: 5rem; align-items: baseline;}

.shop-section .shop-contents{width: 65%;}
.shop-section .shop-contents .shop-title{display: flex; flex-wrap: wrap; column-gap: .7rem;}
.shop-section .shop-contents .shop-title h2{font-size: 4rem; letter-spacing: 2px; cursor: pointer;}
.shop-section .shop-contents .shop-title h2::after{content: ''; display: block; width: 95%; height: .3rem; background: transparent; margin-top: .25rem; transition: all .5s ease;}
.shop-section .shop-contents .shop-title h2.active::after{background: #222;}

.shop-section .shop-preview-box{display: none; column-gap: 2.5rem; margin: 3.5rem 0 15rem 0;}
.shop-section .shop-preview-box.active{display: flex; animation: show .7s 1;}
@keyframes show {
    from {opacity:0.5;}
    to {opacity:1;}
}
.shop-section .shop-preview-box .shop-pre-item{width: 33.33%;}
.shop-section .shop-preview-box .shop-pre-item img{width: 100%;}
.shop-section .shop-preview-box .shop-pre-item .num-box{display: flex; column-gap: 1rem; margin: 1rem 0;}
.shop-section .shop-preview-box .shop-pre-item .brand-name{display: block; font-size: 1.75rem; margin-bottom: 1.5rem; color: #222;}
.shop-section .shop-preview-box .shop-pre-item .brand-desc{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 8; overflow: hidden; padding-right: 2.5rem;}

/* Video Section Style */
.video-section{width: 100%; height: 70vh; position: relative; display: flex; align-items: center; overflow: hidden;}
.video-section video{width: 100%; height: 110%; object-fit: cover; position: absolute;}
.video-section .video-container{position: relative; z-index: 10;}
.video-section .video-container .video-txt-box{color: #fff; display: flex; flex-direction: column; row-gap: 1.5rem;}
.video-section .video-container .video-txt-box .top-txt{display: flex; column-gap: 1rem; font-size: 1rem;}
.video-section .video-container .video-txt-box .video-btn{color: #fff; border-bottom: 1px solid #fff; opacity: 0.6; padding-bottom: .5rem; font-size: 1rem; width: fit-content;}
.video-section .video-container .video-txt-box h1{font-size: 4rem; font-weight: normal;}
.video-section .video-container .video-txt-box h3{font-size: 1rem; font-weight: normal;}

.video-section .video-icon{width: 1.5rem; position: absolute; right:.5rem; bottom: .5rem; opacity: .9;}

/* Books Section Style */
.books-section{background: rgb(242, 242, 242); position: relative; color: #222;}
.books-section .books-container .books-contents{width: 65%;}
.books-section .books-container .books-contents > p{opacity: 0.3; font-size: 1.75rem; margin-bottom: 3rem;}
.books-section .books-title-box{display: flex; flex-wrap: wrap; column-gap: 0.5rem;}
.books-section .books-title-box h2{font-size: 4rem; letter-spacing: 2px; cursor: pointer;}
.books-section .books-title-box h2::after{content: ''; display: block; width: 95%; height: .3rem; background: transparent; margin-top: .25rem; transition: all .3s;}
.books-section .books-title-box h2.active::after{background: #222;}
.books-section .books-preview-box{display: none; column-gap: 2.5rem; margin: 3.5rem 0 15rem 0;}
.books-section .books-preview-box.active{display: flex; animation: show 1s 1;}
.books-section .books-preview-box .books-pre-item{width: 33.33%; display: flex; flex-direction: column; row-gap: 1rem;}
.books-section .books-pre-item a{width: 100%;}
.books-section .books-pre-item a img{width: 100%;}
.books-section .books-pre-item .book-name{color: #222; font-size: 1.75rem;}
.books-section .books-pre-item .book-desc{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 8; overflow: hidden; padding-right: 2.5rem;}

.books-section .books-btn{display: flex; column-gap: 1.5rem; font-size: 6rem; color: #fff; opacity: 0.5; position: absolute; bottom: 7.5rem; right: 5rem;}

/* Subscribe Section Style */
.subscribe-section{color: #222;}
.subscribe-section .subscribe-container{display: flex; flex-wrap: wrap; justify-content: flex-end;} 
.subscribe-section .date-box{width: 100%; font-size: 4rem; letter-spacing: -1px; line-height: 1.2;}

.subscribe-section .subscribe-content-box{display: flex; width: 50%; height: 70vh; position: relative;}
.subscribe-section .subscribe-content-box .subs-content{width: calc(50% - 1rem); display: flex; flex-direction: column; row-gap: 1.5rem; position: absolute;}
.subscribe-section .subscribe-content-box .content-left{bottom:0;}
.subscribe-section .subscribe-content-box .content-right{right: 0; bottom:0}
.subscribe-section .subscribe-content-box .content-item{color: #222; padding: 2.5rem; transition: all .4s ease;}
.subscribe-section .subscribe-content-box .content-item:hover{background: rgb(242, 242, 242);}
.subscribe-section .subscribe-content-box .content-item > span{display: flex; align-items: center;}
.subscribe-section .subscribe-content-box .content-item > span::before{content: ''; display: inline-block; width: 0.7rem; height: 0.7rem; border-radius: 50%; background: #222; margin-right: .5rem;}
.subscribe-section .subscribe-content-box .content-item > span::after{content: ''; background-image: url(images/asset11.png); display: inline-block; background-size: 1rem 1rem; background-repeat: no-repeat; width: 1rem; height: 1rem; margin-left: .25rem;}
.subscribe-section .subscribe-content-box .content-item h3{font-size: 1.75rem; font-weight: normal; margin: .25rem 0 1rem; line-height: 1.2;}
.subscribe-section .subscribe-content-box .content-item .newsletter{font-size: 2.5rem;}

/* Footer Section Style */
#footer .footer-container{margin: 5rem 0; display: flex; flex-wrap: wrap; justify-content: space-between;}
#footer .footer-container .footer-logo{width: 25%;}
#footer .footer-container img{width: 8rem;}
#footer .footer-container .footer-txt{width: 75%; display: flex; column-gap: 6rem;}
#footer .footer-container .footer-txt > div{display: flex; flex-direction: column;}
#footer .footer-container .footer-txt > div p{color: #222; font-size: 1rem; opacity: 0.25; margin-bottom: .25rem;}
#footer .footer-container .footer-txt > div a{color: #222; font-size: 1.75rem; display: flex; flex-wrap: nowrap; align-items: center; width: fit-content;}
#footer .footer-container .footer-txt .sns a::after,
#footer .footer-container .footer-txt .follow a::after{content: ''; background-image: url(images/asset11.png); display: inline-block; background-size: 1.5rem 1.5rem; background-repeat: no-repeat; width: 1.5rem; height: 1.5rem; margin-left: .25rem;}

#footer .footer-container .toggle-byline{display: none; color: #999; flex-direction: column; row-gap: .25rem;}
#footer .footer-container .toggle-byline a{color: #999; padding-bottom: .25rem; border-bottom: 1px solid #999; display: inline-block; margin: 1rem 0 1rem 0;}
#footer .footer-container .byline{width: 100%; margin-top: 5rem; display: flex; flex-wrap: wrap; column-gap: 1rem; color: #222; opacity: 0.25; font-size: 1rem; align-items: center;}
#footer .footer-container .byline a{color: #222; text-decoration: underline; font-size: 1rem;}
#footer .footer-container .byline .company{margin-right: 1.5rem;}
#footer .footer-container .byline .company-btn{display: none;}
