@import url(//db.onlinewebfonts.com/c/81db551dd19e720ed0bc40dbde312130?family=Beausite+Classic+Regular);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

html {scroll-behavior: smooth;}
body {font-family: "Beausite Classic Regular", "Noto Sans KR";}
* {margin: 0; padding: 0; box-sizing: border-box;}
ol,ul {list-style: none;}
a{text-decoration: none;}

.container{width: 100%; padding: 0 5rem; }
section{padding: 5rem 0;}

/* Header style */
#header{width: 100%; padding: 1.25rem 0; backdrop-filter: blur(50px) brightness(95%); position:fixed; z-index:20;}
#header > .container {display: flex; justify-content: space-between; font-size: 1.25rem;}
#header .left {display: flex;}
#header .left .logo a {display: flex; height: 1.5rem; _width: 1.25rem; margin-right: 2.5rem;}/*block으로 지정하면 왜 이미지 아래에 틈이 생기는지?*/
#header .left .logo img {width: 100%;}
#header .left .left-list {display: flex; column-gap: 1.25rem;}
#header .left .left-list a {color: #fff;}

#header .right-list {display: flex; column-gap: 1.5rem; align-items: center; color: #fff; cursor: pointer;}
#header .right-list a {color: #fff;}
#header .right-list .language {display: flex; column-gap: 1px;}
#header .right-list .language img {width: 1.25rem; object-fit: scale-down;}

/* Main Section Style*/
.main-section{width: 100%; height: 100vh; position: relative; display: flex; flex-direction: column; justify-content: center;}
.main-section img{width: 100%; height: 100%; object-fit: cover; position: absolute;}
.main-section .main-txt{color:#fff; display: flex; flex-direction: column; row-gap: 1.5rem; z-index: 10;}
.main-section .main-txt .top-txt{display: flex; column-gap: 1rem; font-size: 1rem;}
.main-section .main-txt h1{font-size: 4rem; font-weight: normal;}
.main-section .main-txt h3{font-size: 1rem; font-weight: normal;}
.main-section .main-txt .main-btn a{border-bottom: 1px solid #fff; color: #fff; opacity: 0.6; padding-bottom: .5rem; font-size: 1rem;}
.main-section .page-box{display: flex; justify-content: space-between; font-size: 5.5rem; padding: 0 5rem; color: #fff; position: relative; top: 15rem;}

/* Shop Section Style */
.shop-section{width: 100%; height: auto; background: rgb(152, 192, 196); position: relative;}
.shop-section .container > p{color: black; opacity: 0.3; font-size: 1.75rem; margin-bottom: 3rem;}
.shop-section .container .shop-btn{position: absolute; bottom: 7.5rem; right: 5rem;}
.shop-section .container .shop-btn a{display: flex; column-gap: 1.5rem;  font-size: 6rem; color: #fff; opacity: 0.5;}

.shop-section .shop-contents .shop-title{display: flex; column-gap: .5rem;}
.shop-section .shop-contents .shop-title h2{font-size: 3.5rem; cursor: pointer;}
.shop-section .shop-contents .shop-title h2.active{border-bottom: 5px solid black;}

.shop-section .shop-preview-box{width:65%; display: flex; column-gap: 2.5rem; margin-top: 5rem; margin-bottom: 15rem; color: #222;}
.shop-section .shop-preview-box .shop-pre-item{width: 33.33%;}
.shop-section .shop-preview-box .shop-pre-item img{width: 100%;}
.shop-section .shop-preview-box .shop-pre-item .num-box{display: flex; column-gap: 1rem; margin: 1rem 0;}
.shop-section .shop-preview-box .shop-pre-item .brand-name{display: block; font-size: 1.75rem; margin-bottom: 1.5rem; color: #222;}

.video-section{width: 100%; height: 70vh; position: relative; display: flex; align-items: center;}
.video-section video{width: 100%; height: 100%; object-fit: cover; position: absolute;}
.video-section .video-container{position: relative; z-index: 10;}
.video-section .video-container .video-txt-box{color: #fff; display: flex; flex-direction: column; row-gap: 1.5rem;}
.video-section .video-container .video-txt-box .top-txt{display: flex; column-gap: 1rem; font-size: 1rem;}
.video-section .video-container .video-txt-box .video-btn{color: #fff; border-bottom: 1px solid #fff; opacity: 0.6; padding-bottom: .5rem; font-size: 1rem; width: fit-content;}
.video-section .video-container .video-txt-box h1{font-size: 4rem; font-weight: normal;}
.video-section .video-container .video-txt-box h3{font-size: 1rem; font-weight: normal;}

.video-section .video-icon{width: 1.5rem; position: absolute; right:.5rem; bottom: .5rem; opacity: .9;}

/* Books Section Style */
.books-section .books-title-box{display: flex;}
.books-section .books-preview-box{display: flex; width: 65%;}
.books-section .books-preview-box .books-pre-item{width: 33.33%;}
.books-section .books-pre-item a{width: 100%;}
.books-section .books-pre-item a img{width: 100%;}
